@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Background, border, and basic css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(#E8B7D4 40%, #BFB8DA);
    height: 100%;
}

.white-border {
    border: 0.62em solid #D9D9D9;
    margin: 3em;
    height: auto;
    width: auto;
}

/* Title */

h1 {
    font-size: 2.25em;
    background-color: #E8B7D4;
    width: 150px;
    color: #33539E;
    position: relative;
    left: -0.62em;
    top: -1.37em;
}

/* Info Section */

.info {
    width: 50%;
    display: grid;
    place-items: center;
    margin: -7.27em 31.25em 0 31.25em;
}

h2 {
    font-size: 2.81em;
    color: #33539E;
}

p {
    font-size: 1.87em;
    margin-top: 1em;
    color: #33539E;
}

/*Buttons */

.buttons_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6.25em;
}

button {
    background-color: #33539E;
    border: none;
    border-radius: 0.37em;
    width: 15.62em;
    max-width: 100%;
    padding: 0.93em;
}

button span {
    color: #D9D9D9;
    font-size: 1.5em;
}

button img {
    width: 10.81em;
    height: auto;
}

/* Score and Outcomes */

.score-container {
    display: flex;
    justify-content: center;
    margin-top: 6.25em;
}

.score-box {
    border: 1px solid #33539E;
    width: 48.25em;
    max-width: 100%;
    padding: 0.93em;
    display: grid;
    place-items: center;
}

.score-box p {
    text-align: center;
}


/* Plant Illustrations */
.plants {
    display: flex;
    justify-content: space-between;
    margin-top: -21.87em;
}

.plants img {
    width: 26%;
}
