@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Background, border, and base css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(#E8B7D4 40%, #BFB8DA);
    height: 100vh;
    width: 100vw;
}

.white-border {
    border: 0.62em solid #D9D9D9;
    margin: 3em;
    height: 96%;
}

/* Title */

h1 {
    font-size: 2em;
    background-color: #E8B7D4;
    width: 5.37em;
    color: #33539E;
    position: relative;
    left: -0.62em;
    top: -1.37em;
}

/* Info Section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
}

h2 {
    font-size: 2.81em;
    color: #33539E;
}

p {
    font-size: 1.87em;
    margin-top: 1em;
    color: #33539E;
}

/*Buttons */

.buttons_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6.25em;
}

button {
    background-color: #33539E;
    border: none;
    border-radius: 0.37em;
    width: 15.62em;
    max-width: 100%;
    padding: 0.93em;
}

button span {
    color: #D9D9D9;
    font-size: 1.5em;
}

button img {
    width: 10.81em;
    height: auto;
}

/* Score and Outcomes */

.score-container {
    display: flex;
    justify-content: center;
    margin-top: 6.25em;
}

.score-box {
    border: 1px solid #33539E;
    width: 48.25em;
    max-width: 100%;
    padding: 0.93em;
    display: grid;
    place-items: center;
}

.score-box p {
    text-align: center;
}


/* Plant Illustrations */
.plants {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.plants img {
    width: 30%;
}

/* Overlay with Final Message */
.overlay,
.final-container {
    display: flex;
    justify-content: center;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(232, 183, 212, 0.75), rgba(191, 184, 218, 0.75));
    z-index: 2;
    cursor: pointer;
}

.final-container {
    width: 55.56em;
    height: 28.25em;
    background-color: #33539E;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 25%;
    border-radius: 0.37em;
}

.winner {
    color: #D9D9D9;
    font-size: 2.25em;
}

.divider {
    width: 80%;
    margin-top: -4.37em;
    border-top: 1px solid #D9D9D9;
}

.final-score {
    color: #D9D9D9;
    font-size: 2em;
    display: flex;
    gap: 45px;
    margin-top: -50px;
}

.restart {
    background-image: linear-gradient(#E8B7D4, #BFB8DA);
    width: 340px;
    height: 92px;
    padding: 1.25em;
}

.restart span {
    font-size: 36px;
    color: #33539E;
}

/* Media Queries*/

/* Mobile */
@media only screen and (max-width: 400px) {

    .white-border {
        margin: 0.75em;
        border: 0.37em solid #D9D9D9;
    }

    h1 {
        font-size: 0.87em;
        width: 4em;
        left: -0.40em;
        top: -0.75em;
    }

    .info {
        margin-top: 0.625em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.75em;
        text-align: center;
    }

    .buttons_container {
        margin: 3.12em;
        gap: 1.25em;
    }

    button {
        width: 5.89em;
        padding: 0.75em;
    }

    button img {
        width: 2.7em;
    }

    button span {
        font-size: 0.75em;
        text-align: center;
    }

    .score-container {
        margin: 0;
    }

    .score-box {
        width: 12.06em;
    }

    .plants img {
        width: 50%;
    }

    .plants {
        justify-content: center;
    }

    .final-container {
        width: 222px;
        height: 118px;
    }

    .winner {
        font-size: 12px;
    }

    .divider {
        margin-top: 0;
    }

    .final-score {
        font-size: 12px;
        margin-top: 0;
    }

    .restart {
        width: 85px;
        height: 23px;
        padding: 5px;
    }

    .restart span {
        font-size: 12px;
    }
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .white-border {
        margin: 1em;
    }

    h1 {
        font-size: 1.25em;
        width: 4em;
        margin-top: 0.75em;
    }

    .info {
        margin-top: 0.625em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
    
    .buttons_container {
        margin: 4.12em;
        gap: 1.5em;
    }

    button {
        width: 7.81em;
        padding: 0.75em;
    }

    button img {
        width: 5.40em;
    }

    button span {
        font-size: 1.25em;
        text-align: center;
    }

    .score-container {
        margin: 0;
    }

    .score-box {
        width: 24.12em;
    }

    .plants img {
        width: 50%;
    }

    .plants {
        justify-content: center;
    }

    .final-container {
        width: 444px;
        height: 236px;
    }

    .winner {
        font-size: 24px;
    }

    .divider {
        margin-top: 0;
    }

    .final-score {
        font-size: 1.25em;
        margin-top: 0;
    }

    .restart {
        width: 170px;
        height: 46px;
        padding: 10px;
    }

    .restart span {
        font-size: 1em;
    }

}